.App {
  text-align: center;
  
 
   
}
body{
  background: linear-gradient(rgb(125, 125, 243),
  rgb(243, 139, 139), rgb(239, 239, 116));
  /* background-repeat: no-repeat; */
  height:700px;
}
h1{
  text-shadow: 3px 2px aqua;
}